/* Estilos sección portada*/
.menu-tienda__portada {
  padding: 270px 10%;
  background-image: url(../img/menu-tienda-portada.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-tienda__title-top {
  color: #fff;
  font-size: 36px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 0.5;
}

.menu-tienda__title-bottom {
  color: #fff;
  font-size: 48px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  max-width: 10ch;
  line-height: 1.2;
}

.menu-tienda__description {
  color: #fff;
  max-width: 30ch;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/* Estilos sección galería*/
.menu-tienda__galeria {
  padding-top: 35px;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.menu-tienda__fila {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 32px;
}

.menu-tienda__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.menu-tienda__img {
  width: 100%;
  position: relative;
}

.menu-tienda__img img {
  width: 100%;
}

.menu-tienda__container {
  position: absolute;
  padding: 30px;
}

.menu-tienda__container.menu-tienda__container--bottom {
  bottom: 0;
  left: 0;
}

.menu-tienda__container.menu-tienda__container--top {
  top: 0;
  right: 0;
}

.menu-tienda__item-description {
  background-color: white;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  padding: 6px 10px;
}

.menu-tienda__item-title {
  font-size: 36px;
  color: white;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

/* Estilos sección menu*/
.menu-tienda__menu {
  background-color: #dddddd;
  padding: 32px 16px;
  width: 90%;
  margin: 30px auto;
}

.menu-tienda__carta {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-tienda__carta img {
  width: 33%;
}

.menu-tienda__title-menu {
  font-size: 20px;
  max-width: 100%;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

/* Estilos sección banner*/
.menu-tienda__banner {
  padding: 270px 10%;
  background-image: url(../img/menu-banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu-tienda__title-banner-top {
  color: #fff;
  font-size: 36px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 0.5;
  display: flex;
  justify-content: center;
}

.menu-tienda__title-banner-bottom {
  color: #c7a17a;
  font-size: 56px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  line-height: 1.2;
  text-align: center;
}

.menu-tienda__description-banner {
  color: #fff;
  font-weight: 400;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.menu-tienda__button {
  padding: 10px 20px;
  font-size: 13px;
  color: white;
  border-color: rgba(255, 255, 255, 20);
  border-width: 1px;
  background-color: transparent;
  cursor: pointer;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0 auto;
}

/* Media queries */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .menu-tienda__fila {
    flex-direction: row;
  }
  .menu-tienda__item-title--right {
    text-align: right;
  }

  .menu-tienda__container.menu-tienda__container--top {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}
